body{
	color: white;
	background: url("../img/sunset.jpg") no-repeat center center fixed;
	background-size: cover;
	padding-right: 20%;
	padding-left: 20%%;
	text-align: center;
}
	
img{
	max-width: 100%;
}

.main{
	max-width: 840px;
	margin-left: auto;
	margin-right: auto;
}

#centerdiv{
	text-align: center;
	padding-right: 20%;
	padding-left: 35%;
}